<?xml version="1.0"?>
<configuration>
  <!-- startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup -->

  <appSettings>

    <!-- сервер Compass Plus -->
    <add key="Host" value="91.227.244.215" />
    <add key="Port" value="4201" />
    <add key="Description" value="сервер Compass Plus для разработчиков" />

    <!-- магнитная полоса карты (Compass Plus) -->
    <add key="CC_PAN" value="4890000000001003" />
    <add key="CC_ExpDate" value="1511" />
    <add key="CC_Data" value="10190880639" />
    <add key="CC_CVV2" value="123" />

    <!-- заголовок всех транзакций (Compass Plus) -->
    <add key="MSG_TerminalID" value="MYBILLR" />
    <add key="MSG_EmployeeID" value="u0450u" />


    <!-- сервер СМП Банка (тест) -->
    <!--<add key="Host" value="192.168.207.53" />
    <add key="Port" value="40005" />
    <add key="Description" value="сервер СМП Банка для разработчиков" />

    --><!-- магнитная полоса карты (СМП Банк) --><!--
    <add key="CC_PAN" value="6775182108999026" />
    <add key="CC_ExpDate" value="1405" />
    <add key="CC_Data" value="12114150891" />
    <add key="CC_CVV2" value="639" />

    --><!-- заголовок всех транзакций (СМП Банк) --><!--
    <add key="MSG_TerminalID" value="T7511111" />
    <add key="MSG_EmployeeID" value="u0450u" />-->
 
    <!-- сервер СМП Банка (тест) -->
    <!--<add key="Host" value="192.168.207.53" />
    <add key="Port" value="40005" />
    <add key="Description" value="сервер СМП Банка для разработчиков" />

    --><!--  магнитная полоса карты (СМП Банк)  --><!--
    <add key="CC_PAN" value="6775182108999026" />
    <add key="CC_ExpDate" value="1405" />
    <add key="CC_Data" value="12114150891" />
    <add key="CC_CVV2" value="639" />

    --><!--  заголовок всех транзакций (СМП Банк)  --><!--
    <add key="MSG_TerminalID" value="T7511111" />
    <add key="MSG_EmployeeID" value="u0450u" />-->


    <!-- add key="RefreshTime" value="20000" / -->
  </appSettings>  
</configuration>
